<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- spring的扫描路径 -->
    <context:component-scan base-package="com.study.*.*"/>

    <!-- 启用注解 -->
    <mvc:annotation-driven/>

    <bean name="welcomeService" class="com.study.service.GenericWelcomeSVImpl"/>

    <!-- jsp视图解析器-内部自带 -->
    <bean name="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- jsp文件的位置 -->
        <property name="prefix" value="/WEB-INFO/pages/"/>

        <!-- jsp的后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- bean: 演示Request Scope  -->
    <bean name="randomRequestSv" class="com.study.service.RandomRequestScopeService">
        <aop:scoped-proxy/>
    </bean>

    <!-- bean: 演示Session Scope  -->
    <bean name="randomSessionSv" class="com.study.service.RandomSessionScopeService">
        <aop:scoped-proxy/>
    </bean>

</beans>